/* Add your styles here! */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    color: rgb(129, 129, 129);
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.column {
    float: left;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    column-gap: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
  }

  .texto {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(129, 129, 129);
  }
 
 tei-p {
    text-align: justify;
}
    
